# DO NOTE THAT THIS CODE WAS PROCESSED IN THE VISUAL CODE STUDIO

In [ ]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/farrasnaufal/Library/Python/3.9/lib/python/site-packages (2.0.3)
Requirement already satisfied: pytz>=2020.1 in /Users/farrasnaufal/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /Users/farrasnaufal/Library/Python/3.9/lib/python/site-packages (from pandas) (1.25.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/farrasnaufal/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/farrasnaufal/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 23.2.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in /Users/farrasnaufal/Library/Python/3.9/lib/python/site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /Users/farrasnaufal/Library/Python/3.9/lib/python/site-packages (from seaborn) (1.25.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /Users/farrasnaufal/Library/Python/3.9/lib/python/site-packages (from seaborn) (3.7.2)
Requirement already satisfied: pandas>=0.25 in /Users/farrasnaufal/Library/Python/3.9/lib/python/site-packages (from seaborn) (2.0.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/farrasnaufal/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: contourpy>=1.0.1 in /Users/farrasnaufal/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.1.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/farrasnaufal/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/farrasnaufal/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (6.0.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/farrasnaufal/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.0.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/farrasnaufal/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.42.0)
Requirement already satisfied: cycler>=0.10 in /Users/farrasnaufal/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /Users/farrasnaufal/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in /Users/farrasnaufal/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: zipp>=3.1.0 in /Users/farrasnaufal/Library/Python/3.9/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.1->seaborn) (3.16.2)
Requirement already satisfied: pytz>=2020.1 in /Users/farrasnaufal/Library/Python/3.9/lib/python/site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/farrasnaufal/Library/Python/3.9/lib/python/site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 23.2.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd # Library used for working with data sets and perform data analysis.
import numpy as np # To perform mathematical operasion and statistics
from datetime import datetime # Used to perform dates and time manipulation
import seaborn as sns # library for visualization
import matplotlib.pyplot as plt # library for visualization

In [ ]:
df_main = pd.read_csv('df_clean_2.csv', sep=',', encoding='utf-8')
df_main.head()

,DR_NO,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,...,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,LOCATION,LAT,LON
0,10304468,2020-01-08,22:30:00,3,Southwest,377,624,BATTERY - SIMPLE ASSAULT,0444 0913,36,...,B,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,1100 W 39TH PL,34.0141,-118.2978
1,190101086,2020-01-01,03:30:00,1,Central,163,624,BATTERY - SIMPLE ASSAULT,0416 1822 1414,25,...,H,102.0,SIDEWALK,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,700 S HILL ST,34.0459,-118.2545
2,191501505,2020-01-01,17:30:00,15,N Hollywood,1543,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 1402,76,...,W,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,5400 CORTEEN PL,34.1685,-118.4019
3,191921269,2020-01-01,04:15:00,19,Mission,1998,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,31,...,X,409.0,BEAUTY SUPPLY STORE,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,14400 TITUS ST,34.2198,-118.4468
4,200100501,2020-01-01,00:30:00,1,Central,163,121,"RAPE, FORCIBLE",0413 1822 1262 1415,25,...,H,735.0,NIGHT CLUB (OPEN EVENINGS ONLY),500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,700 S BROADWAY,34.0452,-118.2534

In [ ]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494868 entries, 0 to 494867
Data columns (total 21 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           494868 non-null  int64
 1   DATE OCC        494868 non-null  object
 2   TIME OCC        494868 non-null  object
 3   AREA            494868 non-null  int64
 4   AREA NAME       494868 non-null  object
 5   Rpt Dist No     494868 non-null  int64
 6   Crm Cd          494868 non-null  int64
 7   Crm Cd Desc     494868 non-null  object
 8   Mocodes         494868 non-null  object
 9   Vict Age        494868 non-null  int64
 10  Vict Sex        494868 non-null  object
 11  Vict Descent    494868 non-null  object
 12  Premis Cd       494868 non-null  float64
 13  Premis Desc     494868 non-null  object
 14  Weapon Used Cd  494868 non-null  float64
 15  Weapon Desc     494868 non-null  object
 16  Status          494868 non-null  object
 17  Status Desc     494868 non-null  object
 18  LOCATION        494868 non-null  object
 19  LAT             494868 non-null  float64
 20  LON             494868 non-null  float64
dtypes: float64(4), int64(5), object(12)
memory usage: 79.3+ MB

In [ ]:
len(df_main)

494868

# Cleaning Data
* Change DATE OCC into datetime
* Change TIME OCC into object(time)
* Check Unique Value
* Separate Date, Month, Year
* Remove 0 value in LON and LAT
* Create Time Column (Integer)
* Exclude Year 2022, because we want to do analysis only in year 2020 and 2021

In [ ]:
df_main['DATE OCC'].value_counts().sort_index()

DATE OCC
2020-01-01    994
2020-01-02    520
2020-01-03    593
2020-01-04    537
2020-01-05    503
             ...
2022-05-26    459
2022-05-27    433
2022-05-28    428
2022-05-29    386
2022-05-30    134
Name: count, Length: 881, dtype: int64

In [ ]:
pd.to_datetime(df_main['DATE OCC'], format='%Y-%m-%d')

0        2020-01-08
1        2020-01-01
2        2020-01-01
3        2020-01-01
4        2020-01-01
            ...
494863   2022-03-20
494864   2022-02-23
494865   2022-02-09
494866   2022-02-08
494867   2022-02-14
Name: DATE OCC, Length: 494868, dtype: datetime64[ns]

In [ ]:
df_main['DATE OCC'] = pd.to_datetime(df_main['DATE OCC'], format='%Y-%m-%d')
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494868 entries, 0 to 494867
Data columns (total 21 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           494868 non-null  int64
 1   DATE OCC        494868 non-null  datetime64[ns]
 2   TIME OCC        494868 non-null  object
 3   AREA            494868 non-null  int64
 4   AREA NAME       494868 non-null  object
 5   Rpt Dist No     494868 non-null  int64
 6   Crm Cd          494868 non-null  int64
 7   Crm Cd Desc     494868 non-null  object
 8   Mocodes         494868 non-null  object
 9   Vict Age        494868 non-null  int64
 10  Vict Sex        494868 non-null  object
 11  Vict Descent    494868 non-null  object
 12  Premis Cd       494868 non-null  float64
 13  Premis Desc     494868 non-null  object
 14  Weapon Used Cd  494868 non-null  float64
 15  Weapon Desc     494868 non-null  object
 16  Status          494868 non-null  object
 17  Status Desc     494868 non-null  object
 18  LOCATION        494868 non-null  object
 19  LAT             494868 non-null  float64
 20  LON             494868 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(5), object(11)
memory usage: 79.3+ MB

In [ ]:
df_main['DATE OCC'].value_counts().sort_index()

DATE OCC
2020-01-01    994
2020-01-02    520
2020-01-03    593
2020-01-04    537
2020-01-05    503
             ...
2022-05-26    459
2022-05-27    433
2022-05-28    428
2022-05-29    386
2022-05-30    134
Name: count, Length: 881, dtype: int64

In [ ]:
pd.to_datetime(df_main['TIME OCC'], format='%H:%M:%S').dt.time

0         22:30:00
1         03:30:00
2         17:30:00
3         04:15:00
4         00:30:00
            ...
494863    01:00:00
494864    12:10:00
494865    15:30:00
494866    20:00:00
494867    18:00:00
Name: TIME OCC, Length: 494868, dtype: object

In [ ]:
df_main['TIME OCC'] = pd.to_datetime(df_main['TIME OCC'], format='%H:%M:%S').dt.time

In [ ]:
df_main['TIME OCC'].dtype

dtype('O')

In [ ]:
df_main['TIME OCC'].value_counts().sort_index()

TIME OCC
00:01:00    8256
00:02:00      70
00:03:00      82
00:04:00      67
00:05:00    1686
            ...
23:55:00     672
23:56:00      27
23:57:00      36
23:58:00      34
23:59:00     321
Name: count, Length: 1439, dtype: int64

In [ ]:
for col in df_main.columns:
  print(col)
  print(df_main[col].value_counts())
  print('\n')

DR_NO
DR_NO
10304468     1
210905287    1
211905502    1
211004296    1
210109770    1
            ..
202110916    1
201818321    1
201905831    1
201909008    1
221605448    1
Name: count, Length: 494868, dtype: int64


DATE OCC
DATE OCC
2020-01-01    994
2020-05-30    905
2022-04-01    886
2022-02-01    865
2022-03-01    853
             ...
2020-03-29    420
2020-03-22    416
2020-04-09    415
2022-05-29    386
2022-05-30    134
Name: count, Length: 881, dtype: int64


TIME OCC
TIME OCC
12:00:00    17918
18:00:00    13752
17:00:00    12979
20:00:00    12802
19:00:00    11913
            ...
07:41:00        8
07:57:00        8
05:34:00        7
06:42:00        6
05:31:00        6
Name: count, Length: 1439, dtype: int64


AREA
AREA
12    31497
1     31199
14    29452
3     27347
6     26920
18    25462
15    25207
20    24879
13    24259
8     23060
7     22988
2     22755
11    21564
5     21080
9     20918
19    20281
10    20257
21    20111
17    19648
4     18933
16    17051
Name: count, dtype: int64


AREA NAME
AREA NAME
77th Street    31497
Central        31199
Pacific        29452
Southwest      27347
Hollywood      26920
Southeast      25462
N Hollywood    25207
Olympic        24879
Newton         24259
West LA        23060
Wilshire       22988
Rampart        22755
Northeast      21564
Harbor         21080
Van Nuys       20918
Mission        20281
West Valley    20257
Topanga        20111
Devonshire     19648
Hollenbeck     18933
Foothill       17051
Name: count, dtype: int64


Rpt Dist No
Rpt Dist No
645     2576
162     2474
182     2227
1494    2079
646     2069
        ...
1996       1
2199       1
716        1
983        1
1537       1
Name: count, Length: 1186, dtype: int64


Crm Cd
Crm Cd
510    54572
624    39572
330    32065
740    31955
310    30400
       ...
830        3
924        2
884        2
349        1
432        1
Name: count, Length: 136, dtype: int64


Crm Cd Desc
Crm Cd Desc
VEHICLE - STOLEN                                           54572
BATTERY - SIMPLE ASSAULT                                   39572
BURGLARY FROM VEHICLE                                      32065
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)    31955
BURGLARY                                                   30400
                                                           ...
INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)                   3
TELEPHONE PROPERTY - DAMAGE                                    2
FAILURE TO DISPERSE                                            2
GRAND THEFT / AUTO REPAIR                                      1
BLOCKING DOOR INDUCTION CENTER                                 1
Name: count, Length: 136, dtype: int64


Mocodes
Mocodes
0                                     68930
0344                                  21025
0329                                  12599
1501                                   4938
1822 0344                              4687
                                      ...
1822 1302 0344 1402 1607                  1
1822 1307 1609 0358 0344 0352 1221        1
0562 0913 1300 0421 0432                  1
0416 0408 1813 2000 0409 0913             1
0400 0416 0444 1266 0913                  1
Name: count, Length: 178541, dtype: int64


Vict Age
Vict Age
0     120625
30     11348
35     11033
29     10834
31     10811
       ...
93        58
95        50
96        44
98        39
97        33
Name: count, Length: 99, dtype: int64


Vict Sex
Vict Sex
M    207919
F    180957
X    105992
Name: count, dtype: int64


Vict Descent
Vict Descent
H    151616
X    110702
W    103756
B     70976
O     39274
A     10601
K      2556
F      1863
C      1576
J       612
V       426
I       385
Z       215
P       119
U        78
G        34
D        28
L        26
S        25
Name: count, dtype: int64


Premis Cd
Premis Cd
101.0    126620
501.0     81574
502.0     59564
108.0     36680
203.0     22479
          ...
240.0         1
803.0         1
137.0         1
965.0         1
836.0         1
Name: count, Length: 307, dtype: int64


Premis Desc
Premis Desc
STREET                                          126645
SINGLE FAMILY DWELLING                           81584
MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)     59555
PARKING LOT                                      36688
OTHER BUSINESS                                   22508
                                                 ...
DEPT OF DEFENSE FACILITY                             1
MTA - GOLD LINE - LITTLE TOKYO/ARTS DISTRICT         1
TRAM/STREETCAR(BOXLIKE WAG ON RAILS)*                1
MUSCLE BEACH                                         1
HARBOR FRWY STATION (NOT LINE SPECIFIC)              1
Name: count, Length: 306, dtype: int64


Weapon Used Cd
Weapon Used Cd
500.0    336578
400.0     94462
511.0     12745
102.0     11016
109.0      4145
          ...
116.0         4
120.0         3
123.0         1
119.0         1
121.0         1
Name: count, Length: 78, dtype: int64


Weapon Desc
Weapon Desc
UNKNOWN WEAPON/OTHER WEAPON                       336578
STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)     94462
VERBAL THREAT                                      12745
HAND GUN                                           11016
SEMI-AUTOMATIC PISTOL                               4145
                                                   ...
ANTIQUE FIREARM                                        4
MAC-11 SEMIAUTOMATIC ASSAULT WEAPON                    3
M1-1 SEMIAUTOMATIC ASSAULT RIFLE                       1
MAC-10 SEMIAUTOMATIC ASSAULT WEAPON                    1
HECKLER & KOCH 91 SEMIAUTOMATIC ASSAULT RIFLE          1
Name: count, Length: 78, dtype: int64


Status
Status
IC    395399
AO     53945
AA     43259
JA      1582
JO       683
Name: count, dtype: int64


Status Desc
Status Desc
Invest Cont     395399
Adult Other      53945
Adult Arrest     43259
Juv Arrest        1582
Juv Other          683
Name: count, dtype: int64


LOCATION
LOCATION
800 N ALAMEDA ST           955
7TH ST                     845
7TH                        845
6TH ST                     839
6TH                        783
                          ...
ADDISON AV                   1
10400 LA TUNA CANYON RD      1
4800 LEDGE AV                1
ASHWOOD AV                   1
400 EXPOSITION BL            1
Name: count, Length: 56530, dtype: int64


LAT
LAT
34.1016    2799
34.0980    2275
0.0000     2274
34.2012    2236
34.1939    1730
           ...
33.9069       1
33.7423       1
33.8176       1
33.8425       1
33.9384       1
Name: count, Length: 5307, dtype: int64


LON
LON
-118.2739    3617
-118.2827    3204
 0.0000      2274
-118.2652    2065
-118.2783    2015
             ...
-118.1659       1
-118.6589       1
-118.6556       1
-118.6163       1
-118.6613       1
Name: count, Length: 4934, dtype: int64

In [ ]:
df_split_date = df_main.copy()

In [ ]:
# Split 'DATE OCC' into year, month and day.
df_split_date['DATE OCC'] = pd.to_datetime(df_split_date['DATE OCC'])
df_split_date['YEAR OCC'] = df_split_date['DATE OCC'].dt.year
df_split_date['MONTH OCC'] = df_split_date['DATE OCC'].dt.month
df_split_date['DAY OCC'] = df_split_date['DATE OCC'].dt.day
df_split_date

,DR_NO,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,...,Weapon Used Cd,Weapon Desc,Status,Status Desc,LOCATION,LAT,LON,YEAR OCC,MONTH OCC,DAY OCC
0,10304468,2020-01-08,22:30:00,3,Southwest,377,624,BATTERY - SIMPLE ASSAULT,0444 0913,36,...,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,1100 W 39TH PL,34.0141,-118.2978,2020,1,8
1,190101086,2020-01-01,03:30:00,1,Central,163,624,BATTERY - SIMPLE ASSAULT,0416 1822 1414,25,...,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,700 S HILL ST,34.0459,-118.2545,2020,1,1
2,191501505,2020-01-01,17:30:00,15,N Hollywood,1543,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 1402,76,...,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,5400 CORTEEN PL,34.1685,-118.4019,2020,1,1
3,191921269,2020-01-01,04:15:00,19,Mission,1998,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,31,...,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,14400 TITUS ST,34.2198,-118.4468,2020,1,1
4,200100501,2020-01-01,00:30:00,1,Central,163,121,"RAPE, FORCIBLE",0413 1822 1262 1415,25,...,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,700 S BROADWAY,34.0452,-118.2534,2020,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494863,221907283,2022-03-20,01:00:00,19,Mission,1901,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0344 1822,37,...,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,14000 BALBOA BL,34.3226,-118.4905,2022,3,20
494864,221906145,2022-02-23,12:10:00,19,Mission,1985,421,THEFT FROM MOTOR VEHICLE - ATTEMPT,1822 1402,48,...,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,8400 VAN NUYS BL,34.2229,-118.4487,2022,2,23
494865,221005507,2022-02-09,15:30:00,10,West Valley,1024,510,VEHICLE - STOLEN,0,0,...,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,18800 SHERMAN WY,34.2011,-118.5426,2022,2,9
494866,221105477,2022-02-08,20:00:00,11,Northeast,1171,510,VEHICLE - STOLEN,0,0,...,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,4000 FOUNTAIN AV,34.0958,-118.2787,2022,2,8
494867,221605448,2022-02-14,18:00:00,16,Foothill,1613,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,0385 1300,61,...,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,12700 VAN NUYS BL,34.2755,-118.4092,2022,2,14

In [ ]:
# Relocate columns
# df_split_date = df_split_date[['Crm Cd Desc', 'Premis Desc', 'Weapon Desc', 'Status Desc']]
# df_split_date = df_split_date[['YEAR OCC', 'MONTH OCC', 'DAY OCC', 'TIME OCC', 'AREA', 'AREA NAME', 'Crm Cd', 'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Weapon Used Cd', 'Status']]
# df_split_date

In [ ]:
# who% DataFrame

In [ ]:
# del df_split_date

In [ ]:
df_geo = df_split_date.copy()

In [ ]:
# df_geo = df_geo[df_geo['AVG_PROMO_TXN_AMT_L6M'] != -1]

df_geo = df_geo.loc[(df_geo['LAT'] != 0) & (df_geo['LON'] != 0)]

In [ ]:
len(df_geo)

492594

In [ ]:
df_geo.head()

,DR_NO,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,...,Weapon Used Cd,Weapon Desc,Status,Status Desc,LOCATION,LAT,LON,YEAR OCC,MONTH OCC,DAY OCC
0,10304468,2020-01-08,22:30:00,3,Southwest,377,624,BATTERY - SIMPLE ASSAULT,0444 0913,36,...,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,1100 W 39TH PL,34.0141,-118.2978,2020,1,8
1,190101086,2020-01-01,03:30:00,1,Central,163,624,BATTERY - SIMPLE ASSAULT,0416 1822 1414,25,...,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,700 S HILL ST,34.0459,-118.2545,2020,1,1
2,191501505,2020-01-01,17:30:00,15,N Hollywood,1543,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 1402,76,...,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,5400 CORTEEN PL,34.1685,-118.4019,2020,1,1
3,191921269,2020-01-01,04:15:00,19,Mission,1998,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,31,...,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,14400 TITUS ST,34.2198,-118.4468,2020,1,1
4,200100501,2020-01-01,00:30:00,1,Central,163,121,"RAPE, FORCIBLE",0413 1822 1262 1415,25,...,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,700 S BROADWAY,34.0452,-118.2534,2020,1,1

In [ ]:
df_geo['TIME OCC'] = df_geo['TIME OCC'].apply(lambda t: t.hour*100 + t.minute)

In [ ]:
df_geo.head()

,DR_NO,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,...,Weapon Used Cd,Weapon Desc,Status,Status Desc,LOCATION,LAT,LON,YEAR OCC,MONTH OCC,DAY OCC
0,10304468,2020-01-08,2230,3,Southwest,377,624,BATTERY - SIMPLE ASSAULT,0444 0913,36,...,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,1100 W 39TH PL,34.0141,-118.2978,2020,1,8
1,190101086,2020-01-01,330,1,Central,163,624,BATTERY - SIMPLE ASSAULT,0416 1822 1414,25,...,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,700 S HILL ST,34.0459,-118.2545,2020,1,1
2,191501505,2020-01-01,1730,15,N Hollywood,1543,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 1402,76,...,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,5400 CORTEEN PL,34.1685,-118.4019,2020,1,1
3,191921269,2020-01-01,415,19,Mission,1998,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,31,...,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,14400 TITUS ST,34.2198,-118.4468,2020,1,1
4,200100501,2020-01-01,30,1,Central,163,121,"RAPE, FORCIBLE",0413 1822 1262 1415,25,...,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,700 S BROADWAY,34.0452,-118.2534,2020,1,1

In [ ]:
df_geo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 492594 entries, 0 to 494867
Data columns (total 24 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           492594 non-null  int64
 1   DATE OCC        492594 non-null  datetime64[ns]
 2   TIME OCC        492594 non-null  int64
 3   AREA            492594 non-null  int64
 4   AREA NAME       492594 non-null  object
 5   Rpt Dist No     492594 non-null  int64
 6   Crm Cd          492594 non-null  int64
 7   Crm Cd Desc     492594 non-null  object
 8   Mocodes         492594 non-null  object
 9   Vict Age        492594 non-null  int64
 10  Vict Sex        492594 non-null  object
 11  Vict Descent    492594 non-null  object
 12  Premis Cd       492594 non-null  float64
 13  Premis Desc     492594 non-null  object
 14  Weapon Used Cd  492594 non-null  float64
 15  Weapon Desc     492594 non-null  object
 16  Status          492594 non-null  object
 17  Status Desc     492594 non-null  object
 18  LOCATION        492594 non-null  object
 19  LAT             492594 non-null  float64
 20  LON             492594 non-null  float64
 21  YEAR OCC        492594 non-null  int32
 22  MONTH OCC       492594 non-null  int32
 23  DAY OCC         492594 non-null  int32
dtypes: datetime64[ns](1), float64(4), int32(3), int64(6), object(10)
memory usage: 88.3+ MB

In [ ]:
len(df_geo)

403345

In [ ]:
df_geo = df_geo[df_geo['YEAR OCC'] != 2022]

In [ ]:
df_geo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 403345 entries, 0 to 405618
Data columns (total 24 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           403345 non-null  int64
 1   DATE OCC        403345 non-null  datetime64[ns]
 2   TIME OCC        403345 non-null  int64
 3   AREA            403345 non-null  int64
 4   AREA NAME       403345 non-null  object
 5   Rpt Dist No     403345 non-null  int64
 6   Crm Cd          403345 non-null  int64
 7   Crm Cd Desc     403345 non-null  object
 8   Mocodes         403345 non-null  object
 9   Vict Age        403345 non-null  int64
 10  Vict Sex        403345 non-null  object
 11  Vict Descent    403345 non-null  object
 12  Premis Cd       403345 non-null  float64
 13  Premis Desc     403345 non-null  object
 14  Weapon Used Cd  403345 non-null  float64
 15  Weapon Desc     403345 non-null  object
 16  Status          403345 non-null  object
 17  Status Desc     403345 non-null  object
 18  LOCATION        403345 non-null  object
 19  LAT             403345 non-null  float64
 20  LON             403345 non-null  float64
 21  YEAR OCC        403345 non-null  int32
 22  MONTH OCC       403345 non-null  int32
 23  DAY OCC         403345 non-null  int32
dtypes: datetime64[ns](1), float64(4), int32(3), int64(6), object(10)
memory usage: 72.3+ MB

In [ ]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     |████████████████████████████████| 249 kB 1.1 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
WARNING: You are using pip version 21.2.4; however, version 23.2.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [ ]:
df_geo.to_csv('df_geo.csv', index=False)